
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/advising.css" media="screen"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>
        <body>
            Personal Info
            <form action="/alum_edit_pi" method="POST">
            update email <input type = "text" class = "w3-border w3-round-large" name = "email"> <br>
            update address <input type = "text" class = "w3-border w3-round-large" name = "address"> <br>
            <input type = "submit" class = "w3-border w3-round-large">
            </form>

            <a href="/alumni">
                <button type="button" class ="w3-button w3-round-large w3-gray">go back to the alumni home</button>
        </body>
    </head>
</html>