
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/advising.css" media="screen"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <script src="script.js"></script>
    <!-- <a href="/catelog">course catelog</a> -->
    <form action="/form1" method="POST">
      ID <input type = "number"  class = "w3-border w3-round-large" name = "ID"> 
     <!-- First Name: <input type = "text" name = "fname"> 
     Last Name: <input type = "text" name = "lname"> <br> -->
   <br>  **you do not need all 12 classes to be filled, but you can only take at most 12 classes** <br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">username</th> -->
      <th scope="col">Course Name</th>
      <th scope="col">Course Number </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class1name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class1ID"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class2name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class2ID"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class3name"></td>
      <td><input type = "number"   class = "w3-border w3-round-large" name = "class3ID"></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class4name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large"name = "class4ID"></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class5name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class5ID"></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><input type = "text"   class = "w3-border w3-round-large"name = "class6name"></td>
      <td><input type = "number"   class = "w3-border w3-round-large"name = "class6ID"></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class7name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class7ID"></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class8name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class8ID"></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class9name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class9ID"></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class10name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class10ID"></td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class11name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class11ID"></td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td><input type = "text"  class = "w3-border w3-round-large" name = "class12name"></td>
      <td><input type = "number"  class = "w3-border w3-round-large" name = "class12ID"></td>
    </tr>
  </tbody>
</table>
<input type = "submit"  class = "w3-border w3-round-large" > 
</form>
<a href="/grad_student">
  <button type="button" class = "w3-border w3-round-large">go back to grad Student home</button>
</a> 
<br>
{{msg}}
  </body>
</html>