
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/advising.css" media="screen"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <head>
        <body>
            Sorry, something went wrong
            <br>
            message: {{msg}}
            <br>
            <a href="/logout">
                <button type="button" class = "w3-Button w3-round-large w3-gray">Log Out</button>
            </a> 
        </body>
    </head>
</html>