<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/reg_style.css" media="screen"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Update Account Information</title>
  </head>
  <body>
    <a href="/main_hub_registration">
      <button type="button" class="w3-button  w3-gray w3-round-large">Back To Registration Main Hub</button>
    </a>
    <form action="/update_account_info" method="POST">
    <!-- Implement form asking for username and password -->
        <h2> Update Account Information </h2><br>
        <h3>Enter new account information in the fields you wish to change below</h3>
        Update Password: <input type="text" class = "w3-border w3-round-large" name = "new_password"><br>
        Update Address: <input type="text" class = "w3-border w3-round-large" name = "new_address"><br>
        Update Email: <input type="text" class = "w3-border w3-round-large" name = "new_email"><br>
        <input type="submit" class="w3-button  w3-gray w3-round-large" value="Submit">
    </form>
    {{password_message}}<br>
    {{address_message}} <br>
    {{email_message}} <br>
  </body>
</html> 
