
<html>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/advising.css" media="screen"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>
    <title>View Student's Form 1</title>
  </head>
  <body>
    <form action = "/view_thesis" method="POST">
      Choose a student by entering their ID
      <input type="num" name="ID"></input>
      <input type="submit">
    </form>

    Viewing {{ name }}'s Thesis
    <br>
    <p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Thesis</th>
          </tr>
        </thead>
        <tbody>
          {% for item in results %}
          <tr>
            <td>{{ item[0] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
    <br>
    <form action = "/approve_thesis" method="POST">
      please input the student's ID 
      <input type = "number" name = "ID"> <br>
      Do you approve this thesis? <br>
      <input type="radio" id="yes" name="yn" value="yes">
      <label for="yes">Yes</label><br>
      <input type="radio" id="no" name="yn" value="no">
      <label for="no">No</label><br>

      <input type="submit">
    </form>
    {{msg}}
    <a href="/faculty_advisor">
      <button type="button" class = "w3-button w3-round-large w3-gray">Go Back to Faculty Advisor Home</button>
    </a> 
  </body>
